<div class="footer">
    <div class="footer-contacts">Связаться с нами: 
    	<span>909</span>или 
    	<span>920</span>
    	круглосуточно и бесплатно в сети life:)
	</div>

    <div class="footer-menu">
        <a class="" href="http://life.com.by/private/about">о нас</a>
        <div class="footer-menu-sep"></div>

	 	<a class="" href="http://life.com.by/private/news">новости</a>
	 	<div class="footer-menu-sep"></div>

       	<a class="" href="http://life.com.by/private/about/careers">карьера</a>
       	<div class="footer-menu-sep"></div>

       	<a class="" href="http://life.com.by/private/about/covering">покрытие</a>
       	<div class="footer-menu-sep"></div>

       	<a class="" href="http://life.com.by/private/salons">салоны</a>
       	<div class="footer-menu-sep"></div>

        <a class="" href="http://life.com.by/private/about/contacts">контакты</a>
        <div class="footer-menu-sep"></div>

       	<a class="" href="http://sms.life.com.by/sms/common.html?lang=ru">sms</a>
       	<div class="footer-menu-sep"></div>

        <a class="" href="http://life.com.by/private/about/sotrudnichestvo">сотрудничество</a>
        <div class="footer-menu-sep"></div>

       	<a class="" href="http://life.com.by/private/about/ussd">USSD</a>
       	<div class="footer-menu-sep"></div>

        <a class="" href="http://life.com.by/private/about/contract">Договор</a>
        <div class="footer-menu-sep"></div>

        <a class="" href="http://life.com.by/private/about/kak_oplatit">Как оплатить?</a>
        <div class="footer-menu-sep"></div>

     	<a class="" href="http://life.com.by/check/">узнать долг</a>
    </div>
    <div class="footer-copyright">© 2004-2017 life:) ЗАО "БеСТ", ул. Красноармейская, 24, 220030, г. Минск, УНП 190579561, Лицензия Министерства связи и информатизации РБ №02140/1315, срок действия не ограничен</div>
</div>