<div class="wrap-top-menu">
    <div class="wrap-top-menu-fixed">
        <div class="wrap-top-menu-center">
            <div class="block-social-networks">
                <div class="social-network__rss"></div>
                <div class="social-network__vk"></div>
                <div class="social-network__facebook"></div>
                <div class="social-network__twitter"></div>
                <div class="social-network__youtube"></div>
                <div class="social-network__odnoklassniki"></div>
            </div>

            <div class="block-top-menu-right">
                <form class="block-search">
                    <input type="text" placeholder="Поиск по сайту">
                    <button></button>
                </form>

                <div class="toolbar_sep"></div>

                <a href="https://payment.webpay.by/epay/life" class="button-recharge">Пополнить счет</a>
                <a href="http://life.com.by/private/help" class="button-help">Помощь</a>
                <a href="https://payment.webpay.by/epay/life" class="button-personal-area">Личный кабинет</a>
                <a href="https://payment.webpay.by/epay/life" class="button-exit">Выйти</a>

                <div class="toolbar_sep"></div>

                <a href="http://en.life.com.by/" class="button-eng">Eng</a>
                <a href="http://by.life.com.by/" class="button-bel">Bel</a>
            </div>
        </div>
    </div>
</div>