<div class="breadcrumbs-navigation-center">
    <div class="breadcrumbs">
          <a href="">Главная</a>
          <span class="breadcrumbs-sep">></span>
          <a href="">Частным клиентам</a>
          <span class="breadcrumbs-sep">></span>
          <a href="">Тарифы</a>
    </div>

    <div class="navigation">
        <div class="button-back">
            <span class="back">Назад</span>
        </div>

        <div class="wrap-navigation">
            <div class="button-go-to-management" (click)="buttonGoToManagement()">Перейти к управлению</div>
            <div class="tooltip-question"></div>
        </div>
    </div>
</div>
<app-modals></app-modals>