<div class="block-menu-center">
    <div class="logo"></div>

    <div class="menu-center">
        <div class="menu-center-top">
            <a class="private-clients" href="http://life.com.by/private">
                <div></div>
                <span>Частным<br>клиентам</span>
            </a>
            <a class="business-clients" href="http://life.com.by/business">
                <div></div>
                <span>Бизнес<br>клиентам</span>
            </a>
        </div>

        <div class="menu-center-button">
            <a class="" href="http://life.com.by/private/voice/">тарифы</a>
            <div></div>
            <a class="" href="http://life.com.by/private/services/">услуги</a>
            <div></div>
            <a class="" href="http://life.com.by/private/internet/">интернет</a>
            <div></div>
            <a class="" href="http://life.com.by/private/roaming/">роуминг</a>
            <div></div>
            <a class="" href="http://life.com.by/private/gadgets/">интернет-магазин</a>
            <div></div>
            <a class="" href="http://mylife.life.com.by">my life:)</a>
        </div>
    </div>
</div>
