.block-tariffs
	display: flex
	flex-wrap: wrap
	max-width: 1000px
	margin: 0 auto

	.block-tariff
		width: 250px

	.tariff-head
		display: flex

		.tariffs-head-icon
		    width: 70px
		    height: 70px
		    background: url('/assets/img/icons.png')
		    border-radius: 70px
		    position: relative
		    z-index: 2
		    background-position: 1px -40px


		.tariffs-head-name
			display: flex
			align-items: center
			justify-content: center
			margin: 4px 0px 4px -40px
			color: #fff
			background-color: #593291
			position: relative
			z-index: 1
			width: calc(100% - 35px)
			border-radius: 5px
	    	