/* You can add global styles to this file, and also import other style files */
@import './node_modules/reset-css/_reset.scss'
body
    font-family: 'life_text', sans-serif;
    font-size: 20px;
    background-color: #eeeeee
    font-weight: 100
    
input,
button
    outline: none
a,
button
    text-decoration: none
    cursor: pointer

.tooltip-question
    width: 24px
    height: 24px
    background: url(/assets/img/icons.png)
    background-position: -174px -114px
    cursor: pointer

.banner
    max-width: 1000px
    margin: 0 auto
    margin-top: 20px
